.light-box{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 2px black solid;
}


button{
    margin-right: 10px;
    margin-top: 20px;
    font-size: 30px;
    padding: 20px 50px;
}
.box-parent{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}